<div ng-controller="adminController" ng-init="tab=1;" class="container">
    <ul class="nav nav-tabs nav-tabs-fixed">
        <li ng-click="tab=1;containerDetail=false" ng-class="tab==1 ? 'active' : ''">
            <a href="#/admin">Containers</a>
        </li>
        <li ng-click="tab=2" ng-class="tab==2 ? 'active' : ''">
            <a href="#/admin">Tasks</a>
        </li>
        <li ng-click="tab=3" ng-class="tab==3 ? 'active' : ''">
            <a href="#/admin">Plugins</a>
        </li>
    </ul>

    <div class="container" ng-if="tab==1">
        <table class="table" ng-if="!containerDetail" ng-init="loadContainers()">
            <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Status</th>
                <th>Created</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in data.containers">
                <td ng-click="detail(c.Id)">{{c.Id}}</td>
                <td>{{c.Image}}</td>
                <td>{{c.Status}}</td>
                <td>{{c.Created * 1000| date:'dd.MM.yyyy'}}</td>
                <td>
                    <button class="btn btn-success" ng-click="restartContainer(c.Id)" tooltip="Restart container"><i
                            class="fa fa-repeat"></i></button>
                    <button class="btn btn-warning" ng-click="stopContainer(c.Id)" tooltip="Stop container"><i
                            class="fa fa-stop"></i></button>
                    <button class="btn btn-danger" ng-click="killContainer(c.Id)" tooltip="Kill container"><i
                            class="fa fa-dot-circle-o"></i></button>
                    <button class="btn btn-danger" ng-click="deleteContainer(c.Id)" tooltip="Delete container"><i
                            class="fa fa-trash-o"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-if="containerDetail" ng-init="tab=5">
            <h4>Container detail</h4>
            <dl class="dl-horizontal">
                <dt>Id</dt>
                <dd>{{data.detail.Id}}</dd>
                <dt>Hostname</dt>
                <dd>{{data.detail.Config.Hostname}}</dd>
                <dt>Memory Limit</dt>
                <dd>{{data.detail.Config.Memory /1048576}} MB</dd>
                <dt>CPU Limit</dt>
                <dd>{{data.detail.Config.CpuShares}} %</dd>
                <dt>IP Address</dt>
                <dd>{{data.detail.NetworkSettings.IPAddress}}</dd>
            </dl>
            <h4>Processes</h4>
            <table class="table" ng-init="loadProcesses(data.detail.Id)">
                <thead>
                <tr>
                    <th ng-repeat="t in data.detail.processes.Titles">{{t}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="proc in data.detail.processes.Processes">
                    <td ng-repeat="item in proc track by $index">{{item}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container" ng-if="tab==2" ng-init="loadTasks()">
        <table class="table">
            <thead>
            <tr>
                <th>Execution</th>
                <th>Create time</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Runtime</th>
                <th>Exit status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="t in data.tasks" ng-class="t.exitStatus == 'FAILED' ? 'text-danger' : ''">
                <td>{{t.executionId}}</td>
                <td>{{t.createTime | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                <td>{{t.startTime | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                <td>{{t.endTime| date:'dd.MM.yyyy HH:mm:ss'}}</td>
                <td>{{t.endTime - t.startTime | date: 'mm:ss'}}</td>
                <td>{{t.exitStatus}}</td>
                <td>
                    <button ng-show="t.exitStatus == 'FAILED'" class="btn btn-success" tooltip="Restart job"
                            ng-click="restartJob(t.executionId)"><i class="fa fa-repeat"></i></button>
                    <button ng-show="t.exitStatus == undefined" class="btn btn-danger" tooltip="Cancel job"
                            ng-click="cancelJob(t.executionId)"><i class="fa fa-repeat"></i></button>
                </td>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container" ng-if="tab==3" ng-init="loadPlugins()">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Last modified</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="t in data.plugins">
                <td>{{t.filename}}</td>
                <td>{{t.lastModified | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>