<div ng-controller="assignmentsController" class="container">
    <div>
        <ul class="nav nav-tabs">
            <li ng-click="tab = 1" ng-class="tab==1 ? 'active' : ''">
                <a href="#/assignments">
                    List</a>
            </li>
            <li ng-click="tab = 2" ng-class="tab==2 ? 'active' : ''">
                <a href="#/assignments">
                    Configuration</a>
            </li>
        </ul>
    </div>
    <div ng-if="tab === 1">
        <table class="table" ng-init=getAssignments()>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Language</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="assignment in data.assignments" ng-click="go(assignment.id);
                                        tab = 2">
                    <td>{{assignment.name}}</td>
                    <td>{{assignment.language}}</td>
                    <td>{{assignment.timestamp| date:'dd.MM.yyyy HH:mm:ss'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-controller="assignmentConfigureController" ng-if="tab === 2" class="center-block">
        <div class="margin">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <h3>Configure assignment</h3>

        <div class=row>
            <div class="col-md-6">
                <form role="form" ng-model="assignmentForm">
                    <div class="form-group">
                        <label for="assignmentName">Name</label>
                        <input type="text" class="form-control" id="assignmentName" placeholder="Enter name"
                               ng-model="assignmentForm.name">
                    </div>
                    <div class="form-group">
                        <label for="assignmentDescription">Description</label>
                        <textarea class="form-control" id="assignmentDescription" placeholder="Enter description"
                                  ng-model="assignmentForm.description">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="assignmentLanguage">Language</label>
                        <select class="form-control" id="assignmentLanguage" placeholder="Language"
                                ng-model="assignmentForm.language" ng-options="lang for lang in supportedLangs">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="assignmentThreshold">Threshold</label>
                        <input type="number" class="form-control" id="assignmentThreshold"
                               placeholder="Enter threshold value" ng-model="assignmentForm.threshold">
                    </div>
                    <div class="form-group">
                        <label for="assignmentMaxRuntime">Maximum runtime</label>
                        <input type="number" class="form-control" id="assignmentMaxRuntime"
                               placeholder="Enter max runtime in ms" ng-model="assignmentForm.maxRuntime">
                    </div>
                    <div class="form-group">
                        <label for="assignmentMaxSize">Maximum file size</label>
                        <input type="number" class="form-control" id="assignmentMaxSize"
                               placeholder="Enter max file size in MB" ng-model="assignmentForm.maxSize">
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" ng-click="saveAssignment()">
                        Save
                    </button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h4>Base file</h4>
                    <form role="form" ng-model="baseFileForm">
                        <div class="form-group">
                            <span class="btn btn-success fileinput-button">
                                <span>{{fileSelectLabel}}</span>
                                <input type="file" id="assignmentBaseFile" ng-file-select="onFileSelect($files)"/>
                            </span>
                            <span>{{baseFile.name}}</span>
                            <p class="help-block">
                                Base file is reference for student's submission evaluation
                            </p>
                            <button type="submit" class="btn btn-primary pull-right" ng-click="uploadReference()">
                                Upload
                            </button>
                        </div>
                    </form>
                </div>
                <div class="row" ng-hide="data.referenceSubmissions.length === 0">
                    <h4>Reference submissions</h4>
                    <table ng-init="loadReferenceSubmissions()" class="table">
                        <thead>
                            <tr>
                                <th>UUID</th>
                                <th>Timestamp</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="submission in data.referenceSubmissions" ng-click="go(submission.uuid)">
                                <td>{{submission.uuid}}</td>
                                <td>{{submission.timestamp| date:'dd.MM.yyyy HH:mm:ss'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Test vectors</h4>
                <table class="table the-table" ng-init="loadVectors()">
                    <thead>
                        <tr>
                            <th>Reference output</th>
                            <th>Points</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vector in data.vectors">
                            <td>
                                <pre>{{vector.output| limitTo:numLimit}}</pre>
                                <button class="btn btn-default pull-right" type='button' ng-click="readMore()">show all
                                </button>
                            </td>
                            <td>{{vector.points}}</td>
                            <td>
                                <button class="btn btn-success" ng-click="editVector(vector.id)">Edit</button>
                                <button class="btn btn-danger" ng-click="deleteVector(vector.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary pull-right">Add</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Arguments</h4>
                <table class="table table-margin">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Value</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="arg in vectorForm.arguments">
                            <td>{{arg.name}}</td>
                            <td>{{arg.type}}</td>
                            <td>{{arg.value}}</td>
                            <td class="text-right">
                                <button class="btn btn-success" ng-click="editArg($index)">Edit</button>
                                <button class="btn btn-danger" ng-click="deleteArg($index)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form class="form" role="form" ng-model="vectorForm">
                    <div class="form-group">
                        <label for="vectorPoints">Points</label>
                        <input type="number" class="form-control" id="vectorPoints"
                               placeholder="Enter points for vector" ng-model="vectorForm.points">
                    </div>
                    <button class="btn btn-primary pull-right" ng-click="saveVector()">Save</button>
                </form>
            </div>
            <div class="col-md-6">
                <h4>New argument</h4>

                <form ng-model="argumentForm" class="form">
                    <div class="form-inline margin">
                        <div class="form-group form-inline">
                            <label for="argumentType">Type</label>
                            <select class="form-control" id="argumentType" ng-model="argumentForm.type"
                                    ng-options="type for type in supportedArgs">
                            </select>
                        </div>
                        <div class="form-group form-inline" ng-hide="argumentForm.type === 'STDINFILE'">
                            <label for="argumentName">Name</label>
                            <input type="text" class="form-control" id="argumentName" placeholder="Enter argument name"
                                   ng-model="argumentForm.name">
                        </div>
                    </div>
                    <div class="form-group margin">
                        <textarea type="text" class="form-control" id="argumentValue" placeholder="Enter argument value"
                                  ng-model="argumentForm.value" ng-hide="argumentForm.type === 'STDINFILE'"></textarea>
                    </div>

                    <div class="form-group margin" ng-show="argumentForm.type === 'STDINFILE'">
                        <span class="btn btn-success fileinput-button">
                            <input type="file" id="vectorFile" ng-file-select="onSTDINFileSelect($files)">
                            <span>Select STDIN file</span>
                        </span>
                        <span>{{argumentForm.STDINFile.name}}</span>
                    </div>
                    <button class="btn btn-primary pull-right" ng-click="addArg()">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
