<div ng-controller="dashboardController" class="center-block">
    <h3>Latest Submissions</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Submission UUID</th>
            <th>Assignment</th>
            <th>Language</th>
            <th>Timestamp</th>
            <th>Points</th>
        </tr>
            </thead>
        <tbody>
        <tr ng-repeat="submission in data.submissions" ng-click="go(submission.uuid)" ng-class="submission.reference ? 'text-success' : ''">
            <td>{{submission.uuid}}</td>
            <td>{{submission.assignment.name}}</td>
            <td>{{submission.assignment.language}}</td>
            <td>{{submission.timestamp | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{submission.totalPoints | number: 2}}</td>
        </tr>
      </tbody>
    </table>
</div>
