<div ng-controller="submissionsController" ng-init="getAssignments();
                        tab = 1">
    <ul class="nav nav-tabs nav-tabs-fixed">
        <li ng-click="tab = 1" ng-class="tab==1 ? 'active' : ''">
            <a href="#/submissions">List</a>
        </li>
        <li ng-click="tab = 2" ng-class="tab==2 ? 'active' : ''">
            <a href="#/submissions">Submit</a>
        </li>
    </ul>

    <div ng-show="tab == 1">
        <form role="form" class="form-inline margin">
            <div class="form-group">
                <label for="selectedAssignment">Assignment:</label>
                <select ng-model="selectedAssignment" id="selectedAssignment" class="form-control" ng-options="assignment.name for assignment in assignmentsList" ng-change="filter()"></select>
            </div>
            <div class="form-group">
                <label for="dateFrom">Date from:</label>
                <input type="text" class="form-control" id="dateFrom" datepicker-popup="{{format}}" ng-model="dateFrom" min="minDate" is-open="opened1" ng-click="open($event, 1)" />
            </div>

            <div class="form-group">
                <label for="selectedAssignment">Date to:</label>
                <input type="text" class="form-control" id="dateTo" datepicker-popup="{{format}}" ng-model="dateTo" min="minDate" is-open="opened2" ng-click="open($event, 2)" />
            </div>
            <button type="submit" class="btn btn-primary" ng-click="filter()">Filter</button>
        </form>
        <table class="table margin" ng-init="filter()">
            <thead>
                <tr>
                    <th>Submission UUID</th>
                    <th>Timestamp</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="submission in data.submissions" ng-click="go(submission.uuid)" ng-class="submission.reference ? 'text-success' : ''">
                    <td>{{submission.uuid}}</td>
                    <td>{{submission.timestamp|date:'dd.MM.yyyy HH:mm:ss' }}</td>
                    <td>{{submission.totalPoints| number:2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="tab == 2" class="row">
        <h4>Submit solution</h4>
        <form role="form" class="form-horizontal col-md-4">
            <div class="form-group form-inline">
                <label for="selectedAssignment">Assignment</label>
                <select class="form-control" ng-model="selectedAssignment" id="selectedAssignment" ng-options="assignment.name for assignment in assignmentsList"></select>
            </div>

            <div class="form-group">
                <span class="btn btn-success fileinput-button">
                    <input type="file" id="submissionFile" ng-file-select="onFileSelect($files)" />
                    <span>Select solution</span>
                </span>
                <span>{{submissionFile.name}}</span>
                <button type="submit" class="btn btn-primary pull-right" ng-click="uploadSubmission()">
                    Upload
                </button>
            </div>
        </form>
    </div>
</div>
