<div ng-controller="submissionDetailController" ng-init="loadDetails()">
    <h3 ng-show="data.submission.reference">Reference submission detail</h3>

    <h3 ng-show="!data.submission.reference">Submission detail</h3>
    <dl class="dl-horizontal">
        <dt>UUID</dt>
        <dd>{{data.submission.uuid}}</dd>
        <dt>Timestamp</dt>
        <dd>{{data.submission.timestamp | date: 'dd.MM.yyyy HH:mm:ss'}}</dd>
        <dt>Compiler output</dt>
        <dd>
            <pre>{{data.submission.compilerOutput}}</pre>
        </dd>
    </dl>
    <div ng-if="!data.submission.compileFailed">
        <h4>Execution overview</h4>
        <table class="table the-table" ng-init="loadExecutions()">
            <thead ng-if="data.submission.reference">
            <tr>
                <th>Output</th>
                <th>Created reference</th>
            </tr>
            </thead>
            <thead>
            <thead ng-if="!data.submission.reference">
            <tr>
                <th>Reference</th>
                <th>Output</th>
                <th class="col-sm-1">Points</th>
            </tr>
            </thead>
            <thead>
            <tbody>
            <tr ng-if="data.submission.reference" ng-repeat="execution in data.executions"
                ng-class="exeuction.terminated ? 'text-danger' : ''">
                <td>
                    <pre>{{execution.output  | limitTo:numLimit }}</pre>
                    <button class="btn btn-default pull-right" type='button' ng-click="readMore()">show all</button>
                </td>
                <td>
                    <pre>{{execution.vector.output}}</pre>
                </td>
            </tr>
            <tr ng-if="!data.submission.reference" ng-repeat="execution in data.executions"
                ng-class="exeuction.terminated ? 'text-danger' : ''">
                <td>
                    <pre>{{execution.vector.output}}</pre>
                </td>
                <td>
                    <pre>{{execution.output | limitTo:numLimit}}</pre>
                    <button class="btn btn-default pull-right" type='button' ng-click="readMore()">show all</button>
                </td>
                <td>{{execution.points | number: 2}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
