body {
    padding-top: 50px;
}
.borderless td {
    border: none;
}
.margin {
    margin: 10px;
}

label {
    margin-left: 5px;
}

.the-table {
    table-layout: fixed;
    word-wrap: break-word;
}

 .fileinput-button {
    position: relative;
    overflow: hidden;
}
/*Also*/
 .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter:'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}
